{% extends 'templates/base_gamma.html' %} {% block content %}
{% include 'templates/partials/modal/admin/pricing/_new-adjustment.html'%} 
{% include 'templates/partials/modal/admin/pricing/_edit-adjustment.html'%} 
{% include 'templates/partials/modal/admin/financial/_new-company-code.html'%} 
{% include 'templates/partials/modal/admin/financial/_edit-company-code.html'%} 
{% include 'templates/partials/modal/admin/financial/_edit-location-code.html'%} 
{% include 'templates/partials/modal/admin/financial/_new-location-code.html'%} 
{% include 'templates/partials/modal/admin/financial/_edit-department-code.html'%} 
{% include 'templates/partials/modal/admin/financial/_new-department-code.html'%} 
{% include 'templates/partials/modal/admin/financial/_edit-profit-code.html'%} 
{% include 'templates/partials/modal/admin/financial/_new-profit-code.html'%} 
{% include 'templates/partials/modal/admin/financial/_edit-gl-code.html'%} 
{% include 'templates/partials/modal/admin/financial/_new-gl-code.html'%} 
{% include 'templates/partials/modal/admin/financial/_edit-code-layout.html'%}
<div class="landing-container container mt-5">
  <div class="heading-container text-center">
    <h3 class="heading">Admin - Pricing</h3>
  </div>

  <div class="admin-tab-container">
    <a href="{% url 'admin' %}">Admin Home</a>-> Pricing

    <!-- Step Form -->
    <div class="step-form-container">
      <div class="content">
        <!--content inner-->
        <div class="content__inner">
          <div class="">
            <!--multisteps-form-->
            <div class="multisteps-form">
              <!--progress bar-->
              <div class="row justify-content-center progress-btns-container">
                <div class="col-12 col-lg-8 ml-auto mr-auto mb-4">
                  <div class="multisteps-form__progress">
                    <button class="multisteps-form__progress-btn js-active" type="button">Adjustments</button>
                    <button class="multisteps-form__progress-btn" type="button">Rates</button>
                    <button class="multisteps-form__progress-btn" type="button">Tax</button>
                  </div>
                </div>
              </div>
              <!--form panels-->
              <div class="row">
                <div class="col-12 m-auto">
                  <div class="multisteps-form__form">
                    <!--single form panel-->
                    {% include 'templates/partials/stepform/admin/pricing/_adjustment.html'%}
                    <!--single form panel-->
                    {% include 'templates/partials/stepform/admin/pricing/_rates.html'%}
                    <!--single form panel-->
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
