<div id="editAdminInfo" class="modal my-modal">
  <div class="modal-content w-50 h-50 m-auto">
    <span class="close" onclick="document.getElementById('editAdminInfo').style.display='none'">&times;</span>

    <div class="heading-container text-center mb-3">
      <h3 class="heading">Edit Info</h3>
      <hr class="w-50 m-auto" />
    </div>

    <div class="input-group mb-3">
      <input type="file" class="form-control" id="inputGroupFile02" />
      <label class="input-group-text" for="inputGroupFile02">Upload</label>
    </div>
    <form method="post" id="admin-general-form">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group mb-4">
            <label for=""><strong>Name:</strong></label>
            <input type="text" name="name" id="codeInput" class="form-control" value="{{user}}"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group mb-4">
            <label for=""><strong>Country:</strong></label>
            <input type="text" name="country" id="" class="form-control" />
          </div>
        </div>
      </div>

      <div class="form-group mb-4">
        <label for=""><strong>Address:</strong></label>
        <input type="text" name="address" id="" class="form-control" />
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group mb-4">
            <label for="gl-code"><strong>City:</strong></label>
            <input type="text" name="city" id="codeInput" class="form-control" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group mb-4">
            <label for=""><strong>State:</strong></label>
            <select name="state" id="" class="form-control">
              <!-- {% for state in all_states %}
              <option value="{{state.id}}">{{state.name}}-{{state.abbreviation}}</option>
              {% endfor %} -->
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group mb-4">
            <label for=""><strong>Zip Code:</strong></label>
            <input type="text" name="zipcode" id="codeInput" class="form-control" />
          </div>
        </div>
      </div>
    </form>
    <div class="btn-container text-center">
      <button class="btn btn-gray px-5">Discard Changes</button>
      <button class="btn btn-secondary px-5" onclick="saveChange()">Save Changes</button>
    </div>
  </div>
  <script>
    function saveChange() {
      var logo = document.getElementById('inputGroupFile02');
      if (logo.files.length > 0) {
        var file = logo.files[0];
        console.log(file);
        const uploadData = new FormData();
        uploadData.append('file', file);

        fetch('upload', {
          method: 'POST',
          headers: {
              "X-CSRFToken": "{{ csrf_token }}",
          },
          body: uploadData,
        })
        .then(response => response.json())
        .then(response => {
          if (response.success) {
            let form = $('#admin-general-form');
            var formData = new FormData(form[0]);
            let data = {};
            
            for (const [key, value] of formData) {
                data[key] = value;
            }
            data['logo_url'] = response.url
            console.log(data);
          } else {
            $.toastr.error("Saved failure");
          }
        })
        .catch(error => {
          $.toastr.error("Saved failure");
        });
      }
    }
  </script>
</div>
