{% extends 'templates/base_gamma.html' %} {% block content %}{% load static %}
{% block endjs %}
<script src="{% static "js/admin/magazine_control.js" %}"></script>
{% endblock %}
<style>
  .stepper-wrapper {
      position: relative;    
      margin-top: auto;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      z-index: 100;
  }
  .stepper-item {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
  
      @media (max-width: 768px) {
          font-size: 12px;
      }
  }
  
  .stepper-item::before {
      position: absolute;
      content: "";
      border-bottom: 8px solid #fff;
      width: 100%;
      top: 17px;
      left: -50%;
      z-index: 2;
  }
  
  .stepper-item::after {
      position: absolute;
      content: "";
      border-bottom: 2px solid #fff;
      width: 100%;
      top: 20px;
      left: 50%;
      z-index: 2;
  }
  
  .stepper-item .step-counter {
      position: relative;
      z-index: 5;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #fff;
      margin-bottom: 6px;
      color:white;
      font-weight: 700;
      font-size: 18px;
  }
  
  .stepper-item.active {
      font-weight: bold;
      color: white;
      text-shadow: 2px 2px 4px #000000;
  }
  
  .stepper-item.completed .step-counter {
      background-color: #f26722;
  }
  
  .stepper-item.completed::after {
      position: absolute;
      content: "";
      border-bottom: 10px solid #f26722;
      width: 100%;
      top: 16px;
      left: 50%;
      z-index: 3;
  }
  
  .stepper-item:first-child::before {
      content: none;
  }
  .stepper-item:last-child::after {
      content: none;
  }
  .content-container.custom-border:after {
      height: 236px;
  }
  .rounded-pill {
      border-radius:20px;
  }
  .none {
      display: none;
  }
</style>
<div class="container mt-5">
  <div class="heading-container product-magazine text-center">
    <h3 class="heading">New Magazine Product</h3>
  </div>

  <div class="breadcrumb"><a href="{% url 'admin' %}">Admin Home</a></div>

  <div class="content-container custom-border custom-container" id="magazine_product_step_product_info" >
    <div class="row" style="margin-bottom: 40px;margin-top: -80px">
      <div class="col-md-2"></div>
      <div class="col-md-8">
          <div class="stepper-wrapper">
            <div class="stepper-item completed active">
              <div class="step-counter"></div>
              <div class="step-name">Product Info</div>
            </div>
            <div class="stepper-item">
              <div class="step-counter"></div>
              <div class="step-name">Sizes Setup</div>
            </div>
            <div class="stepper-item">
              <div class="step-counter"></div>
              <div class="step-name">Review</div>
            </div>
          </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row multistep-content">
      <div class="col-lg-6 col-md-12">
        <div class="form-group mb-5">
          <div class="row">
            <div class="col-md-6">
              <label for="product-mag">Magazine Product:</label>
              <input type="text" name="" id="product-mag" class="form-control" />
            </div>
            <div class="col-md-6">
              <label for="measurement-type">Measurement Type:</label>
              <select name="" id="measurement-type" class="form-control">
                <option value="inch">Inch</option>
                <option value="cm">Cm</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group mb-5">
          <div class="row mb-5">
            <div class="col-md-6">
              <label for="orientation">Fold Orientation:</label>
              <select name="" id="orientation" class="form-control">
                <option value="horizontal">Horizontal</option>
                <option value="vertical">Vertical</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="orientation">Size:</label>
              <div class="double">
                <input type="number" name="" id="height" class="form-control" placeholder="H" />
                <span class="px-2 font-weight-bold">X</span>
                <input type="number" name="" id="width" class="form-control" placeholder="W" />
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <label for="columns">Columns Per Page: (Optional)</label>
              <input type="number" name="" id="columns" class="form-control" />
            </div>
            <div class="col-md-6">
              <label for="column-width">Column Width: (Optional)</label>
              <input type="number" name="" id="column-width" class="form-control" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row mb-5">
            <div class="col-md-6">
              <label for="page-width">Page Width: (Optional)</label>
              <input type="text" name="" id="page-width" class="form-control" />
            </div>
            <div class="col-md-6">
              <label for="page-height">Page Height: (Optional)</label>
              <input type="text" name="" id="page-height" class="form-control" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <label for="page-border">Page Border: (Optional)</label>
              <input type="text" name="" id="page-border" class="form-control" />
            </div>
            <div class="col-md-6">
              <label for="gutter-size">Gutter Size: (Optional)</label>
              <input type="text" name="" id="gutter-size" class="form-control" />
            </div>
          </div>
        </div>

        <div class="btn-container text-center">
          <!-- <button class="btn btn-secondary" onclick="showHideStepModal('magazine_product_step_size_setup', 'magazine_product_step_product_info')">Next</button> -->
          <button class="btn btn-secondary" onclick="nextToSizeSetup()">Next</button>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="measurement-container">
          <img class="img-fluid" src="{% static 'images/magazine-img.png' %}" alt="magazine-img" />
        </div>
      </div>
    </div>
  </div>

  <!-- Size Setup -->
  <div class="content-container custom-border custom-container none" id="magazine_product_step_size_setup">
    <div class="row" style="margin-bottom: 40px;margin-top: -80px">
      <div class="col-md-2"></div>
      <div class="col-md-8">
          <div class="stepper-wrapper">
              <div class="stepper-item completed">
                <div class="step-counter"><i class="fa fa-solid fa-check"></i></div>
                <div class="step-name">Product Info</div>
              </div>
              <div class="stepper-item completed active">
                <div class="step-counter"></div>
                <div class="step-name">Sizes Setup</div>
              </div>
              <div class="stepper-item">
                <div class="step-counter"></div>
                <div class="step-name">Review</div>
              </div>
            </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row multistep-content mb-5">
      <div class="col-lg-4 col-md-12" style="margin-top:90px">
        <div class="standard-size-container">
          <div class="heading-container">
            <h3 class="heading">New Standard Size</h3>
            <hr />
          </div>

          <div class="form-group px-3 mb-3">
            <label for="size-description">Size Description</label>
            <input type="text" name="" id="size-description" class="form-control" />
          </div>

          <div class="form-group px-3 mb-3">
            <div class="row">
              <div class="col-md-6">
                <label for="column-num">No. of Columns</label>
                <input type="text" name="" id="column-num" class="form-control" />
              </div>
              <div class="col-md-6">
                <label for="size-height">Height</label>
                <input type="text" name="" id="size-height" class="form-control" />
              </div>
            </div>
          </div>

          <div class="link-container text-center w-50 mx-auto">
            <a href="" class="calculation-link">Click here to see Total Column Inches calculation</a>
          </div>

          <div class="total-container text-center my-5">
            <h3 class="total">Total Column Inches: <span>2.25</span></h3>
          </div>

          <div class="btn-container text-center mb-3">
            <button class="btn btn-secondary" onclick="createStandardSize()">Create</button>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="created-sizes-container">
          <div class="heading-container">
            <h3 class="heading">Created Standard Size</h3>
            <hr />
          </div>

          <div class="product-table-container mt-3">
            <table class="table product-table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Description</th>
                  <th scope="col">No. of Columns</th>
                  <th scope="col">Height</th>
                  <th scope="col">Total Column In.</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Description</td>
                  <td>4</td>
                  <td>8</td>
                  <td>2.25</td>
                  <td>
                    <div class="switch2">
                      <input id="status-toggle" class="check-toggle check-toggle-round-flat" type="checkbox" />
                      <label for="status-toggle"></label>

                      <span class="active">Active</span>
                      <span class="deactivate">Deactivate</span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="btn-container d-flex justify-content-around">
      <button class="btn btn-gray" onclick="showHideStepModal('magazine_product_step_product_info', 'magazine_product_step_size_setup')">Previous</button>
      <!-- <button class="btn btn-secondary" onclick="showHideStepModal('magazine_product_step_review', 'magazine_product_step_size_setup')">Next</button> -->
      <button class="btn btn-secondary" onclick="reviewProduct()">Next</button>
    </div>
  </div>

  <!-- Review -->
  <div class="content-container custom-border custom-container none" id="magazine_product_step_review">
    <div class="row" style="margin-bottom: 40px;margin-top: -80px">
      <div class="col-md-2"></div>
      <div class="col-md-8">
          <div class="stepper-wrapper">
              <div class="stepper-item completed">
                <div class="step-counter"><i class="fa fa-solid fa-check"></i></div>
                <div class="step-name">Product Info</div>
              </div>
              <div class="stepper-item completed">
                <div class="step-counter"><i class="fa fa-solid fa-check"></i></div>
                <div class="step-name">Size Setup</div>
              </div>
              <div class="stepper-item completed active">
                <div class="step-counter"></div>
                <div class="step-name">Review</div>
              </div>
            </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row multistep-content mb-5">
      <div class="col-lg-4 col-md-12">
        <div class="product-info">
          <div class="heading-container text-center">
            <h3 class="heading">Product Info</h3>
            <hr />
          </div>

          <div class="info-container">
            <span>Magazine Product:<span class="d-block font-weight-bold color-primary" id="span_magazine_product"></span></span>
          </div>

          <div class="info-container">
            <span>Fold Orientation: <span class="color-primary" id="span_fold_orientation"></span></span>
          </div>

          <div class="info-container">
            <span>Size: <span class="color-primary" id="span_height"></span>*;<span class="color-primary" id="span_width"></span></span>
          </div>

          <div class="info-container">
            <div class="row">
              <div class="col-md-6">
                <div class="page-columns">
                  <span>Columns Per Page: (optional)</span>
                  <div class="value-container d-flex justify-content-between">
                    <span class="value" id="span_columns"></span>
                    <!-- <span class="inch">In</span> -->
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="page-height">
                  <span>Page Height: (optional)</span>
                  <div class="value-container d-flex justify-content-between">
                    <span class="value" id="span_page_height"></span>
                    <span class="inch">In</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="page-border">
                <span>Page Border: (optional)</span>
                <div class="value-container d-flex justify-content-between">
                  <span class="value" id="span_page_border"></span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="gutter-size">
                <span>Gutter Size: (optional)</span>
                <div class="value-container d-flex justify-content-between">
                  <span class="value" id="span_gutter_size"></span>
                  <span class="inch">In</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="created-sizes-container">
          <div class="heading-container">
            <h3 class="heading">Applied Standard Size</h3>
            <hr />
          </div>

          <div class="product-table-container mt-3">
            <table class="table product-table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Description</th>
                  <th scope="col">No. of Columns</th>
                  <th scope="col">Height</th>
                  <th scope="col">Total Column In.</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>0001</td>
                  <td>Description</td>
                  <td>4</td>
                  <td>8</td>
                  <td>2.25</td>
                  <td>Active</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-container d-flex justify-content-around">
      <button class="btn btn-gray" onclick="showHideStepModal('magazine_product_step_size_setup', 'magazine_product_step_review')">Previous</button>
      <!-- <button class="btn btn-secondary" onclick="showHideStepModal('magazine_product_step_success', 'magazine_product_step_review')">Next</button> -->
      <button class="btn btn-secondary" onclick="submit()">Next</button>
    </div>
  </div>

  <!-- Product Complete -->
  <div class="content-container custom-border custom-container none" id="magazine_product_step_success">
    <div class="row" style="margin-bottom: 40px;margin-top: -80px">
      <div class="col-md-2"></div>
      <div class="col-md-8">
          <div class="stepper-wrapper">
              <div class="stepper-item completed">
                <div class="step-counter"><i class="fa fa-solid fa-check"></i></div>
                <div class="step-name">Product Info</div>
              </div>
              <div class="stepper-item completed">
                <div class="step-counter"><i class="fa fa-solid fa-check"></i></div>
                <div class="step-name">Size Setup</div>
              </div>
              <div class="stepper-item completed">
                <div class="step-counter"><i class="fa fa-solid fa-check"></i></div>
                <div class="step-name">Review</div>
              </div>
            </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="multistep-content">
      <div class="complete-product-container text-center">
        <h3 class="heading">Product has been created!</h3>
        <div class="big-check mx-auto my-5">
          <i class="fa fa-solid fa-check"></i>
        </div>
        <div class="btn-container d-flex justify-content-around">
          <button class="btn btn-gray" onclick="showHideStepModal('magazine_product_step_product_info', 'magazine_product_step_success')">Create Another Product</button>
          <a class="btn btn-secondary px-5" href="{% url 'adminGeneral' %}"> Return to Products </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
