{% extends 'templates/base_gamma.html' %} {% block content %}{% load static %}
<style>
.stepper-wrapper {
    position: relative;    
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    z-index: 100;
}
.stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    @media (max-width: 768px) {
        font-size: 12px;
    }
}

.stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 8px solid #fff;
    width: 100%;
    top: 17px;
    left: -50%;
    z-index: 2;
}

.stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #fff;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 2;
}

.stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    margin-bottom: 6px;
    color:white;
    font-weight: 700;
    font-size: 18px;
}

.stepper-item.active {
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.stepper-item.completed .step-counter {
    background-color: #f26722;
}

.stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 10px solid #f26722;
    width: 100%;
    top: 16px;
    left: 50%;
    z-index: 3;
}

.stepper-item:first-child::before {
    content: none;
}
.stepper-item:last-child::after {
    content: none;
}
.content-container.custom-border:after {
    height: 236px;
}
.rounded-pill {
    border-radius:20px;
}
.none {
    display: none;
}
</style>
<div class="container mt-5">
    <div class="heading-container product-magazine text-center">
        <h3 class="heading">New Publication Setup</h3>
    </div>
    <div id="new_publication_step_general_info" class="content-container custom-border custom-container" style="padding-top: 70px;">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="stepper-wrapper">
                    <div class="stepper-item completed active">
                      <div class="step-counter"></div>
                      <div class="step-name">General Info</div>
                    </div>
                    <div class="stepper-item">
                      <div class="step-counter"></div>
                      <div class="step-name">Scheduling</div>
                    </div>
                    <div class="stepper-item">
                      <div class="step-counter"></div>
                      <div class="step-name">Rate Groups</div>
                    </div>
                    <div class="stepper-item">
                      <div class="step-counter"></div>
                      <div class="step-name">Ad Type</div>
                    </div>
                    <div class="stepper-item">
                      <div class="step-counter"></div>
                      <div class="step-name">Adjustments</div>
                    </div>
                    <div class="stepper-item">
                      <div class="step-counter"></div>
                      <div class="step-name">Sections</div>
                    </div>
                  </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row multistep-content">            
            <div class="col-lg-3"></div>
            <div class="col-md-12 col-lg-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group mb-5">
                            <label for="product-mag">*Publication Name:</label>
                            <input type="text" name="" id="product-mag" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="columns">Address Line 1:</label>
                            <input type="text" name="" id="columns" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="page-width">*City</label>
                            <input type="text" name="" id="page-width" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="page-height">*State:</label>
                            <select type="text" name="" id="page-height" class="form-control">
                                <option> Please select State</option>
                                <option value="">Select a state</option>
                                <option value="Alabama">Alabama</option>
                                <option value="Alaska">Alaska</option>
                                <option value="Arizona">Arizona</option>
                                <option value="Arkansas">Arkansas</option>
                                <option value="California">California</option>
                                <option value="Colorado">Colorado</option>
                                <option value="Connecticut">Connecticut</option>
                                <option value="Delaware">Delaware</option>
                                <option value="Florida">Florida</option>
                                <option value="Georgia">Georgia</option>
                                <option value="Hawaii">Hawaii</option>
                                <option value="Idaho">Idaho</option>
                                <option value="Illinois">Illinois</option>
                                <option value="Indiana">Indiana</option>
                                <option value="Iowa">Iowa</option>
                                <option value="Kansas">Kansas</option>
                                <option value="Kentucky">Kentucky</option>
                                <option value="Louisiana">Louisiana</option>
                                <option value="Maine">Maine</option>
                                <option value="Maryland">Maryland</option>
                                <option value="Massachusetts">Massachusetts</option>
                                <option value="Michigan">Michigan</option>
                                <option value="Minnesota">Minnesota</option>
                                <option value="Mississippi">Mississippi</option>
                                <option value="Missouri">Missouri</option>
                                <option value="Montana">Montana</option>
                                <option value="Nebraska">Nebraska</option>
                                <option value="Nevada">Nevada</option>
                                <option value="New Hampshire">New Hampshire</option>
                                <option value="New Jersey">New Jersey</option>
                                <option value="New Mexico">New Mexico</option>
                                <option value="New York">New York</option>
                                <option value="North Carolina">North Carolina</option>
                                <option value="North Dakota">North Dakota</option>
                                <option value="Ohio">Ohio</option>
                                <option value="Oklahoma">Oklahoma</option>
                                <option value="Oregon">Oregon</option>
                                <option value="Pennsylvania">Pennsylvania</option>
                                <option value="Rhode Island">Rhode Island</option>
                                <option value="South Carolina">South Carolina</option>
                                <option value="South Dakota">South Dakota</option>
                                <option value="Tennessee">Tennessee</option>
                                <option value="Texas">Texas</option>
                                <option value="Utah">Utah</option>
                                <option value="Vermont">Vermont</option>
                                <option value="Virginia">Virginia</option>
                                <option value="Washington">Washington</option>
                                <option value="West Virginia">West Virginia</option>
                                <option value="Wisconsin">Wisconsin</option>
                                <option value="Wyoming">Wyoming</option>
                            </select>                            
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="page-width">*Zip Code</label>
                            <input type="text" name="" id="page-width" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="page-height">*Location</label>
                            <select type="text" name="" id="page-height" class="form-control">
                                <option> Please select Location</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
        <div class="row multistep-content mb-5">  
            <div class="col-md-12">
                <div class="btn-container text-center">
                    <button class="btn btn-secondary pull-right" onclick="showHideStepModal('new_publication_step_scheduling', 'new_publication_step_general_info')">Next</button>
                </div>
            </div>
        </div>
    </div>
    <div id="new_publication_step_scheduling" class="content-container custom-border custom-container none" style="padding-top: 70px;">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="stepper-wrapper">
                    <div class="stepper-item completed">
                      <div class="step-counter"><i class="fa fa-solid fa-check"></i></div>
                      <div class="step-name">General Info</div>
                    </div>
                    <div class="stepper-item completed active">
                      <div class="step-counter"></div>
                      <div class="step-name">Scheduling</div>
                    </div>
                    <div class="stepper-item">
                      <div class="step-counter"></div>
                      <div class="step-name">Rate Groups</div>
                    </div>
                    <div class="stepper-item">
                      <div class="step-counter"></div>
                      <div class="step-name">Ad Type</div>
                    </div>
                    <div class="stepper-item">
                      <div class="step-counter"></div>
                      <div class="step-name">Adjustments</div>
                    </div>
                    <div class="stepper-item">
                      <div class="step-counter"></div>
                      <div class="step-name">Sections</div>
                    </div>
                  </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row multistep-content">            
            <div class="col-lg-2"></div>
            <div class="col-md-12 col-lg-8">
                <div class="row mb-5">
                    <div class="col-md-12">
                        <div class="form-group mb-4 text-center">
                            <label for=""><strong>Calendar Type:</strong></label> 
                            <br>           
                            <div class="switch2">
                                <input id="cc-toggle" class="check-toggle check-toggle-round-flat" type="checkbox">
                                <label for="cc-toggle" style="width:200px"></label>                
                                <span class="active"> Repeat </span>
                                <span class="deactivate"> Non-repeating </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="page-width">Name:</label>
                            <input type="text" name="" id="page-width" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="page-height">Product Type:</label>
                            <select type="text" name="" id="page-height" class="form-control">
                                <option> </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="page-width">GL Override(optional):</label>
                            <br>           
                            <div class="switch2">
                                <input id="cc-toggle" class="check-toggle check-toggle-round-flat" type="checkbox">
                                <label for="cc-toggle"></label>                
                                <span class="active"> Yes </span>
                                <span class="deactivate"> No </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="page-height">GL Code:</label>
                            <select type="text" name="" id="page-height" class="form-control">
                                <option> </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="page-width">Select your schedule:</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="page-height">Frequency:</label>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <a style="color:inherit"> &nbsp; Daily &nbsp; </a>
                            <a class="button rounded-pill inline-block" style="background-color: rgba(33, 33, 95, 0.5); display: inline-block;padding: 8px; color: white;"> &nbsp; Weekly &nbsp; </a>
                            <a style="color:inherit">  &nbsp; Monthly &nbsp; </a>
                            <a style="color:inherit">  &nbsp; Yearly &nbsp; </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            Repeat every <input type="text" style="width: 60px;"> week(s)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="{% static "images/week-calendar.png" %}" alt="week calendar" width="400">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-4">
                            <label for=""><strong>Start Date:</strong></label>
                            <input type="date" id="start-date" class="sel-date form-control"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-4">
                            <label for=""><strong>End Date(optional):</strong></label>
                            <input type="date" id="end-date" class="sel-date form-control"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <label for=""><strong>Manage Days:</strong></label><br>
                <img src="{% static "images/month-calendar.png" %}" alt="week calendar" width="400">
            </div>
        </div>
        <div class="row multistep-content mb-5">  
            <div class="col-md-12">
                <div class="row btn-container">
                    <div class="col-md-6 text-left">
                        <button class="btn px-5 btn-gray" onclick="showHideStepModal('new_publication_step_general_info', 'new_publication_step_scheduling')"> Previous  </button>
                    </div>
                    <div class="col-md-6 text-right">
                        <button class="btn btn-secondary px-5" onclick="showHideStepModal('new_publication_step_rate_groups', 'new_publication_step_scheduling')"> Next  </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="new_publication_step_rate_groups" class="content-container custom-border custom-container none" style="padding-top: 70px;">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="stepper-wrapper">
                    <div class="stepper-item completed">
                      <div class="step-counter"><i class="fa fa-solid fa-check"></i></div>
                      <div class="step-name">General Info</div>
                    </div>
                    <div class="stepper-item completed">
                      <div class="step-counter"><i class="fa fa-solid fa-check"></i></div>
                      <div class="step-name">Scheduling</div>
                    </div>
                    <div class="stepper-item completed active">
                      <div class="step-counter"></div>
                      <div class="step-name">Rate Groups</div>
                    </div>
                    <div class="stepper-item">
                      <div class="step-counter"></div>
                      <div class="step-name">Ad Type</div>
                    </div>
                    <div class="stepper-item">
                      <div class="step-counter"></div>
                      <div class="step-name">Adjustments</div>
                    </div>
                    <div class="stepper-item">
                      <div class="step-counter"></div>
                      <div class="step-name">Sections</div>
                    </div>
                  </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row multistep-content">            
            <div class="col-lg-2"></div>
            <div class="col-md-12 col-lg-8">
                <br>
                <div class="row mb-5">
                    <div class="col-md-12">
                        <div class="form-group mb-4 text-center">
                            <h4>Select which rate groups you'd like to be <br> assign to this publications</h4>                             
                        </div>
                    </div>
                </div>
                <br>                                        
                <div class="row mb-5">
                    <div class="col-md-12">
                        <div class="item-select-container mt-5">
                            <div class="available-pubs">
                                Available Rage Groups:<br />
                                <select multiple="multiple" id="lstBox1" class="form-select" style="height: 270px;">
                                    <option value="times-leader-print-edition">Rate Group 1</option>
                                    <option value="times-leader-e-edition">Rate Group 2</option>
                                    <option value="times-leader-e-edition">Rate Group 3</option>
                                </select>
                            </div>
                            <div class="transferBtns">
                                <br />
                                <a id="btnLeft" class="custom" style="width: 70px;" > >> </a>
                                <br>
                                <br />
                                <a id="btnRight" class="custom" style="width: 70px;"> > </a>
                                <br />
                                <br>
                                <br>
                                <br />
                                <a id="" class="custom" style="width: 70px;"> < </a>
                                <br />
                                <br>
                                <a id="" class="custom" style="width: 70px;"> << </a>
                            </div>
                            <div class="selected-pubs">
                                Selected Rate Groups:<br />
                                <select multiple="multiple" id="lstBox2" class="form-select" style="height: 270px;"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row multistep-content mb-5">  
            <div class="col-md-12">
                <div class="row btn-container">
                    <div class="col-md-6 text-left">
                        <button class="btn px-5 btn-gray" onclick="showHideStepModal('new_publication_step_scheduling', 'new_publication_step_rate_groups')"> Previous  </button>
                    </div>
                    <div class="col-md-6 text-right">
                        <button class="btn btn-secondary px-5" onclick="showHideStepModal('new_publication_step_ad_type', 'new_publication_step_rate_groups')"> Next  </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="new_publication_step_ad_type" class="content-container custom-border custom-container none" style="padding-top: 70px;">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="stepper-wrapper">
                    <div class="stepper-item completed">
                      <div class="step-counter"><i class="fa fa-solid fa-check"></i></div>
                      <div class="step-name">General Info</div>
                    </div>
                    <div class="stepper-item completed">
                      <div class="step-counter"><i class="fa fa-solid fa-check"></i></div>
                      <div class="step-name">Scheduling</div>
                    </div>
                    <div class="stepper-item completed">
                      <div class="step-counter"><i class="fa fa-solid fa-check"></i></div>
                      <div class="step-name">Rate Groups</div>
                    </div>
                    <div class="stepper-item completed active">
                      <div class="step-counter"></div>
                      <div class="step-name">Ad Type</div>
                    </div>
                    <div class="stepper-item">
                      <div class="step-counter"></div>
                      <div class="step-name">Adjustments</div>
                    </div>
                    <div class="stepper-item">
                      <div class="step-counter"></div>
                      <div class="step-name">Sections</div>
                    </div>
                  </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row multistep-content">            
            <div class="col-lg-2"></div>
            <div class="col-md-12 col-lg-8">
                <br>
                <div class="row mb-5">
                    <div class="col-md-12">
                        <div class="form-group mb-4 text-center">
                            <h4>Select from the available Ad Types you <br> would like associated with this Publication</h4>                             
                        </div>
                    </div>
                </div>
                <br>                                        
                <div class="row mb-5">
                    <div class="col-md-12">
                        <div class="item-select-container mt-5">
                            <div class="available-pubs">
                                Available Ad Type:<br />
                                <select multiple="multiple" id="lstBox1" class="form-select" style="height: 270px;">
                                    <option value="times-leader-print-edition">Ad Type 1</option>
                                    <option value="times-leader-e-edition">Ad Type 2</option>
                                    <option value="times-leader-e-edition">Ad Type 3</option>
                                </select>
                            </div>
                            <div class="transferBtns">
                                <br />
                                <a id="btnLeft" class="custom" style="width: 70px;" > >> </a>
                                <br>
                                <br />
                                <a id="btnRight" class="custom" style="width: 70px;"> > </a>
                                <br />
                                <br>
                                <br>
                                <br />
                                <a id="" class="custom" style="width: 70px;"> < </a>
                                <br />
                                <br>
                                <a id="" class="custom" style="width: 70px;"> << </a>
                            </div>
                            <div class="selected-pubs">
                                Selected Ad Types:<br />
                                <select multiple="multiple" id="lstBox2" class="form-select" style="height: 270px;"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row multistep-content mb-5">  
            <div class="col-md-12">
                <div class="row btn-container">
                    <div class="col-md-6 text-left">
                        <button class="btn px-5 btn-gray" onclick="showHideStepModal('new_publication_step_rate_groups', 'new_publication_step_ad_type')"> Previous  </button>
                    </div>
                    <div class="col-md-6 text-right">
                        <button class="btn btn-secondary px-5" onclick="showHideStepModal('new_publication_step_adjustment', 'new_publication_step_ad_type')"> Next  </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="new_publication_step_adjustment" class="content-container custom-border custom-container none" style="padding-top: 70px;">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="stepper-wrapper">
                    <div class="stepper-item completed">
                      <div class="step-counter"><i class="fa fa-solid fa-check"></i></div>
                      <div class="step-name">General Info</div>
                    </div>
                    <div class="stepper-item completed">
                      <div class="step-counter"><i class="fa fa-solid fa-check"></i></div>
                      <div class="step-name">Scheduling</div>
                    </div>
                    <div class="stepper-item completed">
                      <div class="step-counter"><i class="fa fa-solid fa-check"></i></div>
                      <div class="step-name">Rate Groups</div>
                    </div>
                    <div class="stepper-item completed">
                      <div class="step-counter"><i class="fa fa-solid fa-check"></i></div>
                      <div class="step-name">Ad Type</div>
                    </div>
                    <div class="stepper-item completed active">
                      <div class="step-counter"></div>
                      <div class="step-name">Adjustments</div>
                    </div>
                    <div class="stepper-item">
                      <div class="step-counter"></div>
                      <div class="step-name">Sections</div>
                    </div>
                  </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row multistep-content">            
            <div class="col-lg-2"></div>
            <div class="col-md-12 col-lg-8">
                <br>
                <div class="row mb-5">
                    <div class="col-md-12">
                        <div class="form-group mb-4 text-center">
                            <h4>Choose which Adjustments that are <br> assigned to this Publication</h4>                             
                        </div>
                    </div>
                </div>
                <br>                                        
                <div class="row mb-5">
                    <div class="col-md-12">
                        <div class="item-select-container mt-5">
                            <div class="available-pubs">
                                Available Adjustments:<br />
                                <select multiple="multiple" id="lstBox1" class="form-select" style="height: 270px;">
                                    <option value="times-leader-print-edition">Adjustment 1</option>
                                    <option value="times-leader-e-edition">Adjustment 2</option>
                                    <option value="times-leader-e-edition">Adjustment 3</option>
                                </select>
                            </div>
                            <div class="transferBtns">
                                <br />
                                <a id="btnLeft" class="custom" style="width: 70px;" > >> </a>
                                <br>
                                <br />
                                <a id="btnRight" class="custom" style="width: 70px;"> > </a>
                                <br />
                                <br>
                                <br>
                                <br />
                                <a id="" class="custom" style="width: 70px;"> < </a>
                                <br />
                                <br>
                                <a id="" class="custom" style="width: 70px;"> << </a>
                            </div>
                            <div class="selected-pubs">
                                Assigned Adjustments:<br />
                                <select multiple="multiple" id="lstBox2" class="form-select" style="height: 270px;"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row multistep-content mb-5">  
            <div class="col-md-12">
                <div class="row btn-container">
                    <div class="col-md-6 text-left">
                        <button class="btn px-5 btn-gray" onclick="showHideStepModal('new_publication_step_ad_type', 'new_publication_step_adjustment')"> Previous  </button>
                    </div>
                    <div class="col-md-6 text-right">
                        <button class="btn btn-secondary px-5" onclick="showHideStepModal('new_publication_step_sections', 'new_publication_step_adjustment')"> Next  </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="new_publication_step_sections" class="content-container custom-border custom-container none" style="padding-top: 70px;">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="stepper-wrapper">
                    <div class="stepper-item completed">
                      <div class="step-counter"><i class="fa fa-solid fa-check"></i></div>
                      <div class="step-name">General Info</div>
                    </div>
                    <div class="stepper-item completed">
                      <div class="step-counter"><i class="fa fa-solid fa-check"></i></div>
                      <div class="step-name">Scheduling</div>
                    </div>
                    <div class="stepper-item completed">
                      <div class="step-counter"><i class="fa fa-solid fa-check"></i></div>
                      <div class="step-name">Rate Groups</div>
                    </div>
                    <div class="stepper-item completed">
                      <div class="step-counter"><i class="fa fa-solid fa-check"></i></div>
                      <div class="step-name">Ad Type</div>
                    </div>
                    <div class="stepper-item completed">
                      <div class="step-counter"><i class="fa fa-solid fa-check"></i></div>
                      <div class="step-name">Adjustments</div>
                    </div>
                    <div class="stepper-item completed active">
                      <div class="step-counter"></div>
                      <div class="step-name">Sections</div>
                    </div>
                  </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row multistep-content">            
            <div class="col-lg-2"></div>
            <div class="col-md-12 col-lg-8">
                <br>
                <div class="row mb-5">
                    <div class="col-md-12">
                        <div class="form-group mb-4 text-center">
                            <h4>Select the sections you would like to be available <br> to use with this Publication</h4>                             
                        </div>
                    </div>
                </div>
                <br>                                        
                <div class="row mb-5">
                    <div class="col-md-12">
                        <div class="item-select-container mt-5">
                            <div class="available-pubs">
                                Available Sections:<br />
                                <select multiple="multiple" id="lstBox1" class="form-select" style="height: 270px;">
                                    <option value="times-leader-print-edition">Section 1</option>
                                    <option value="times-leader-e-edition">Section 2</option>
                                    <option value="times-leader-e-edition">Section 3</option>
                                </select>
                            </div>
                            <div class="transferBtns">
                                <br />
                                <a id="btnLeft" class="custom" style="width: 70px;" > >> </a>
                                <br>
                                <br />
                                <a id="btnRight" class="custom" style="width: 70px;"> > </a>
                                <br />
                                <br>
                                <br>
                                <br />
                                <a id="" class="custom" style="width: 70px;"> < </a>
                                <br />
                                <br>
                                <a id="" class="custom" style="width: 70px;"> << </a>
                            </div>
                            <div class="selected-pubs">
                                Assigned Sections:<br />
                                <select multiple="multiple" id="lstBox2" class="form-select" style="height: 270px;"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row multistep-content mb-5">  
            <div class="col-md-12">
                <div class="row btn-container">
                    <div class="col-md-6 text-left">
                        <button class="btn px-5 btn-gray" onclick="showHideStepModal('new_publication_step_adjustment', 'new_publication_step_sections')"> Previous  </button>
                    </div>
                    <div class="col-md-6 text-right">
                        <button class="btn btn-secondary px-5" onclick="showHideStepModal('new_publication_step_final', 'new_publication_step_sections')"> Next  </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="new_publication_step_final" class="content-container custom-border custom-container none" style="padding-top: 70px;">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="stepper-wrapper">
                    <div class="stepper-item completed">
                      <div class="step-counter"><i class="fa fa-solid fa-check"></i></div>
                      <div class="step-name">General Info</div>
                    </div>
                    <div class="stepper-item completed">
                      <div class="step-counter"><i class="fa fa-solid fa-check"></i></div>
                      <div class="step-name">Scheduling</div>
                    </div>
                    <div class="stepper-item completed">
                      <div class="step-counter"><i class="fa fa-solid fa-check"></i></div>
                      <div class="step-name">Rate Groups</div>
                    </div>
                    <div class="stepper-item completed">
                      <div class="step-counter"><i class="fa fa-solid fa-check"></i></div>
                      <div class="step-name">Ad Type</div>
                    </div>
                    <div class="stepper-item completed">
                      <div class="step-counter"><i class="fa fa-solid fa-check"></i></div>
                      <div class="step-name">Adjustments</div>
                    </div>
                    <div class="stepper-item completed active">
                      <div class="step-counter"><i class="fa fa-solid fa-check"></i></div>
                      <div class="step-name">Sections</div>
                    </div>
                  </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row multistep-content">            
            <div class="col-lg-2"></div>
            <div class="col-md-12 col-lg-8">
                <br>
                <div class="row mb-5">
                    <div class="col-md-12">
                        <div class="form-group mb-4 text-center">
                            <h3 class="success-label"><strong>Publication Has Been Created!</strong></h3>
                            <br>
                            <div id="favoriteIcon1" class="mt-2 adsuccess-mark" style="width: 202px; height: 202px;border-radius: 50%;background-color: #03A803;margin-left: auto;margin-right: auto;">
                                <img src="{% static "svg/Vector (2).svg" %}" style="height: 140px; margin-top: 35px;">
                            </div>                             
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row multistep-content mb-5">  
            <div class="col-md-12">
                <div class="row btn-container">
                    <div class="col-md-12 text-center">
                        <button class="btn px-5 btn-gray" onclick="showHideStepModal('new_publication_step_general_info', 'new_publication_step_final')"> Create Another Publication  </button>
                        <a class="btn btn-secondary px-5" href="{% url 'adminGeneral' %}"> Back to Publications  </a>
                        <a class="btn btn-secondary px-5" onclick=""> View Publication  </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
